@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');

body {
    margin: 25px 15px 40px 15px;
    border-radius: 25px;
    background-color: #eee;
    box-shadow: #ddd;
}

h1 {
    text-align: center;
    font-size: 60px;
    font-family:'Times New Roman';
}

#nav-bar {
    position: sticky;
    top: 0em;
    z-index: 2;
}

ul {
    background-color: #eee;
    border-top: 1.5px solid #777;
    border-bottom: 1.5px solid #777; 
    text-align: center;
}

li, a {
    color: #777;
    display: inline-block;
    font-family: arial;
    text-decoration: none;
    padding: .6em;
}

h2 {
    font-family: Roboto Slab;
    font-weight: 1000;
}

#contact-header {
    text-align: center;
    padding: 25px 0;
}

h5 {
    font-family: abril fatface;
    color: #dd3232
}

p {
    font-family: Source Sans Pro;
    
}

#pic1 {
    width: 100%;
    height: 300px;
}



#main-body {
    padding: 0 15px 25px 15px;
    border-bottom:  1.5px solid gray;
}

.more-articles {
    font-family: Roboto Slab;
    text-align: left;
    padding: 0 25px 0 25px;
}

section {
    display: inline-block;
    width: 33%;
    /* padding: 0 25px 0 25px; */
    box-sizing: border-box;
    /* border: solid red; */

}

img {
    width: 500px;
    height: 300px;
}


h4 {
    font-size: 1.2em;
}

footer {
    color: #777;
    display: inline-block;
    text-align: center;
    font-family: arial;
    text-decoration: none;
    padding: auto;
    width: 100%;
}

.contact-support {
    display: inline-block auto;
}

.contact-form {
    display: inline-block;
    padding-left: 22%; 
    text-align: center;  
}

.support-page {
    display: inline-block auto;
    text-align: center;
    border-top: #777;
    border-bottom: #777;
}